<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Product Inventory ERP</title>
    <environment include="Development">
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </environment>
    <environment exclude="Development">
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </environment>
    <link href="~/lib/Custom Design/main.css" rel="stylesheet" />
    <style>
        body {
            padding-top: 70px;
        }
    </style>
    @RenderSection("styles", required: false)
</head>
<body>
    @await Html.PartialAsync("_NavbarPartial")

    <div class="container-fluid" style="min-height:calc(100vh - 140px)">
        @RenderBody()
    </div>
    <div class="container-fluid">
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - Product Inventory ERP. &nbsp;&nbsp; Develop By: Anamul Haque Sohel.</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
